body {
  background-color: rgb(21,27,41);
}

.app-grid {
  margin: 0px;
  padding: 0px;
}

.link {
  color: #4717F6;
  font-size: 20px;
}

.site-info {
  font-size: 15px;
}

.form-label {
  font-size: 15px;
  display: flex;
  vertical-align: middle;
  margin-left: 30px;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  padding-right: 0px;
  padding-bottom: 10px;
  height: 100%;
  text-align: center;
  background-color: #FFFFFF;
}

.loadmore-container {
  align-items: center !important;
}

.sidebar-header {
  padding-bottom: 30px;
  padding-top: 20px;
  display: inline-block;
}

.sidebar-col {
  padding-right:0px;
}

.site-title {
  font-size: 25px;
  font-family: 'Poor Story', cursive;
  display: inline-block;
}


.burgerButton.inactive {
  display: inline-block;
  background-color: rgb(21,27,41);  
}

.burgerButton.active {
  display: inline-block;
  background-color: #FFFFFF;
}

.sidebar-controllabel {
  color: rgb(21,27,41);
}

.sidebar-header.active {
  background-color: #FFFFFF;
  min-width: 250px;
  color: rgb(21,27,41);
}

.sidebar-header.inactive {
  background-color: rgb(21,27,41);
  color: #FFFFFF;
}

.main-col {
  padding-left: 10px;
  margin: 0px;
}

.main {
  padding: 0px;
}

.navbartop-title {
  font-size: 15px;
  opacity: 0.7;
}

.navbar-search {
  height: 20px;
  font-size: 10px;
  opacity: 0.7;
}

.gnome-avatar {
  width:250px;
  height:250px;
}

.gnome-name {
  font-size: 10px;
  opacity: 0.8;
  margin-bottom: 1px;
}

.modal-backdrop {
  background-color: transparent;
}

.gnome-modal {
  margin-top: 100px;
}

.sidebar-icon {
  margin-right: 15px;
  vertical-align: middle;
}

.image { 
  position: relative; 
  width: 100%; /* for IE 6 */
}

.gnome-name { 
  position: absolute; 
  top: 200px; 
  width: 100%; 
}

.gnome-name span { 
  color: white; 
  font: bold 12px Helvetica, Sans-Serif; 
  letter-spacing: -1px;  
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: 10px; 
}

.range-slider {
  margin-left: 30px;
  margin-bottom: 15px;
  width: 200px;
}

.range-description {
  font-size: 10px;
  color: rgb(21,27,41);
}

.profession-container {
  margin-bottom: 30px;
}

.main-col.active {
  filter: blur(1px);
  pointer-events: none;
}

.navbartop-results {
  color: whitesmoke;
}

.noresults {
  color: whitesmoke;
}

@media (max-width: 768px) {
  #sidebar {
      min-height: 30vh;
      width: 100%;
      border-style: none;
  }
  .sidebar-header {
    width: 100%;
    align-content: center;
    padding-top: 10px;
    padding-bottom: 0px;
  }
  .sidebar-header.active {
    border-style: none;
    padding-top: 10px;
    padding-bottom: 0px;
  }
  #sidebar.active {
      margin-left: 0px;
      border-style: none;
  }
  .range-slider {
    margin-left: 90px;
  }
  .filters-title {
    padding-top: 10px;
    text-align: center;
  }
  .main {
    width: 100%;
  }
}

